<p id="notice"><%= notice %></p>

<p>
  <b>Choice:</b>
  <%= @survey_answer.choice %>
</p>

<p>
  <b>User:</b>
  <%= @survey_answer.user %>
</p>


<%= link_to 'Edit', edit_survey_answer_path(@survey_answer) %> |
<%= link_to 'Back', survey_answers_path %>
