
<div id="<%= beispiel.divid %>" class="contentbox">
<%= semantic_form_for @beispiel, :html => { :multipart => true }, :remote=>true do |f| %>
  <div class="row-fluid">
    <div class="span5" >
  <%= f.input :name, label: false %>  <%=f.input :datum , :as => :string, :label=> false %>
  <%= f.input :desc, label: false %>
      
<b><%link_to ffi1_icon("note20")+" " + beispiel_form.name + " " + I18n.l(beispiel_form.datum), beispiel_form.beispieldatei.url, title: beispiel_form.desc  %></b>
    </div>
    <div class="span1" >
      <%= (beispiel_form.beispieldatei.size/1024.0).round(2).to_s  %>KiB   
    </div>
		<div class="span2" >
			<%= beispiel_form.lecturer.try(:name).to_s %>
		</div>
    <div class="span4">
			<%= flag_link(beispiel_form, "goodquality")%>
			<%= flag_link(beispiel_form, "badquality")%>
			<%= flag_link(beispiel_form, "delete")%>
			<% like_dislike_for(beispiel_form) %>
			<%= link_to ff_icon("icon-pencil")+"show", beispiel_path(beispiel_form), remote: true if can? :edit, beispiel_form%>
<%= f.action :submit, :as => :input %>


			
    </div>
 </div>
  <% unless beispiel_form.desc.nil? || beispiel_form.desc.empty? %>
  <div class="row-fluid">
    <div class="span12">
      <%= beispiel_form.desc %>
    </div>
  </div>
  <% end %>
 <% end %>
</div>
