<span class="btn-group">
	<%= link_to(fa_icon("edit"), edit_rubrik_neuigkeit_path( @neuigkeit.rubrik,  @neuigkeit), remote: true , class: "btn") if can? :edit, @neuigkeit %>
	<%= link_to fa_icon("paperclip"), "#", class: "btn", id: "attachments-form-open"%>	
</span>

<%  if can?(:edit, @neuigkeit) %>
	<div class="dropdown" style="display:inline">		
		<%= link_to fa_icon("plus"), "#", class: "btn dropdown-toggle", data: {toggle: "dropdown"}, title: "plus" %>
		<ul class="dropdown-menu">
			<li>
				<%= link_to fa_icon("calendar-o")+" Neuer Kalendareintrag",  new_calentry_path(:object_id=>@neuigkeit.id, :object_type=>"Neuigkeit"), :remote=>true if can? :edit, @neuigkeit %>
				
			</li>
		</ul>
	</div>
<% end %>
<div class="dropdown pull-right">
	<a class="dropdown-toggle btn" data-toggle="dropdown" title="publish" href="#"><%= fa_icon("mail-forward")%></a>
	<ul class="dropdown-menu">
		<%= li_tag(link_to(fa_icon("facebook-square") + " post on facebook", publish_to_facebook_rubrik_neuigkeit_path(@neuigkeit.rubrik,@neuigkeit))) %>
		<%= li_tag(link_to(ff_icon("icon-plus")+ I18n.t('neuigkeit.publish'), publish_rubrik_neuigkeit_path(@neuigkeit.rubrik,@neuigkeit)) )%>
	</ul>
</div>

<div class="ui-dialog" id="attachments-form">
	<%= render_new_attachments_for(@neuigkeit, fa_icon("plus"), {class: "btn"})  %>

</div>
<script>
$(function(){
  dialogatt = $( "#attachments-form" ).dialog({
    autoOpen: false,
    width: "90%",
    modal: true,
    title: "Neue Attachments",
    buttons: {
      "Fertig": function() {
        dialogatt.dialog( "close" );
      }
    }
  });
  $("#attachments-form-open").on("click",function(){dialogatt.dialog("open")})
});
</script>


